<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ensino_fundamental, style: "display: block" %>
    <%= form.text_field :ensino_fundamental %>
  </div>

  <div>
    <%= form.label :ensino_medio, style: "display: block" %>
    <%= form.text_field :ensino_medio %>
  </div>

  <div>
    <%= form.label :ensino_superior, style: "display: block" %>
    <%= form.text_field :ensino_superior %>
  </div>

  <div>
    <%= form.label :pos_graduacao, style: "display: block" %>
    <%= form.text_field :pos_graduacao %>
  </div>

  <div>
    <%= form.label :mestrado, style: "display: block" %>
    <%= form.text_field :mestrado %>
  </div>

  <div>
    <%= form.label :doutorado, style: "display: block" %>
    <%= form.text_field :doutorado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
