<div id="<%= dom_id user %>">
  <p>
    <strong>Ensino fundamental:</strong>
    <%= user.ensino_fundamental %>
  </p>

  <p>
    <strong>Ensino medio:</strong>
    <%= user.ensino_medio %>
  </p>

  <p>
    <strong>Ensino superior:</strong>
    <%= user.ensino_superior %>
  </p>

  <p>
    <strong>Pos graduacao:</strong>
    <%= user.pos_graduacao %>
  </p>

  <p>
    <strong>Mestrado:</strong>
    <%= user.mestrado %>
  </p>

  <p>
    <strong>Doutorado:</strong>
    <%= user.doutorado %>
  </p>

</div>
