<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit  table this user", edit_user_path(@user) %> |
  <%= link_to "Back table  to users", users_path %>

  <%= button_to "Destroy table this user", @user, method: :delete %>
</div>
